

.main-content {
  margin-top: 60px; /* tránh header */
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;

  app-sidebar-left {
    flex: 0 0 25%;  /* chiếm 25% chiều ngang */
    max-width: 25%;
  }

  app-news-feed {
    flex: 0 0 50%; /* chiếm 50% */
    max-width: 50%;
  }

  app-sidebar-right {
    flex: 0 0 25%; /* chiếm 25% */
    max-width: 25%;
  }
}
